## PYTHON BASICS

In [1]:
1+2

3

In [2]:
4%2

0

In [3]:
4/2

2.0

In [4]:
5//2

2

In [5]:
5/2

2.5

In [6]:
#BODMAS - Bracket, Off, Division, Multiplication, Subtraction
5+3*2

11

In [7]:
type(2)

int

In [8]:
type(2.5)

float

In [10]:
a=10
b=20
c=a+b

In [9]:
type('Rohit')

str

In [11]:
type(c)

int

In [12]:
True

True

In [13]:
False

False

In [14]:
12>45

False

In [15]:
True or False

True

In [16]:
type(True)

bool

In [18]:
a=10
b=20
a+b>30 | a-b<10

True

In [19]:
a=10
b=20
a+b>30 or a-b<10

True

# Strings

In [20]:
str(123)

'123'

In [22]:
## Never Use Reserved Keywords
name="Dr. Rohit Adusumilli, Data Scientist"

In [23]:
name

'Dr. Rohit Adusumilli, Data Scientist'

In [24]:
print(name)

Dr. Rohit Adusumilli, Data Scientist

In [25]:
str1='A Good Boy'
str2="A Bad Boy"

In [26]:
print(str1),print(str2)

A Good Boy
A Bad Boy

(None, None)

In [27]:
str1+str2

'A Good BoyA Bad Boy'

In [28]:
str1+" "+str2

'A Good Boy A Bad Boy'

In [29]:
name1= input("Enter Your Name?")
print(name)

Enter Your Name?Rohit Adusumilli
Dr. Rohit Adusumilli, Data Scientist

In [30]:
print(name1)

Rohit Adusumilli

In [31]:
#Add Two Numbers
a=input("Input Number 1 :")
b=input("Input Number 2 :")
c=a+b
print("The Sum Of Two Numbers is :",c )

Input Number 1 :10
Input Number 2 :58
The Sum Of Two Numbers is : 1058

In [32]:
#Add Two Numbers _ Corrected Version
a= float(input("Input Number 1 :"))
b=float(input("Input Number 2 :"))
c=a+b
print("The Sum Of Two Numbers is :",c )

Input Number 1 :158.2
Input Number 2 :100.7
The Sum Of Two Numbers is : 258.9

In [33]:
#Add Two Numbers _ Corrected Version
a= float(input("Input Number 1 :"))
b=float(input("Input Number 2 :"))
c=a+b
print("The Sum Of Two Numbers is :",c )

Input Number 1 :Rohit

ValueError: could not convert string to float: 'Rohit'

## String Formatting

In [34]:
first_name=input("Enter First Name:")
last_name=input("Enter Last Name:")
print("Welcome to Ineuron ",first_name,last_name)
print("My First Name is {} and my Last Name is {}".format(first_name,last_name))

Enter First Name:Rohit
Enter Last Name:Adusumilli
Welcome to Ineuron  Rohit Adusumilli
My First Name is Rohit and my Last Name is Adusumilli

In [35]:
print("My First Name is {fname} and my Last Name is {lname}".format(lname=last_name,fname=first_name))

My First Name is Rohit and my Last Name is Adusumilli

## Variable Dynamic Typing

In [37]:
a=10
type(a)

int

In [38]:
a=10.0
type(a)

float

In [39]:
a='Rohit Adusumilli'
type(a)

str

In [41]:
## Strong Typing
"Rohit"+1

TypeError: can only concatenate str (not "int") to str

In [42]:
## Strong Typing
"Rohit"+ str(1)

'Rohit1'

## Conditional Statements

In [44]:
#if and elif
a=int(input("Enter number 1 :"))
b=int(input("Enter number 2 :"))
c=a-b
print(c)
if c<0:
    print("The number is negative")
else:
    print("The number is positive")

Enter number 1 :100
Enter number 2 :99
1
The number is positive

In [2]:
#if and elif
a=int(input("Enter number 1 :"))
b=int(input("Enter number 2 :"))
c=a-b
 print(c)
if c<0:
 print("The number is negative")
elif c==0:
    print("The number is zero")
    
else:
    print("The number is positive")

IndentationError: unexpected indent (<ipython-input-2-dbb8c7972666>, line 5)

## Data Structure
1. list
2. tuple
3. string
4. Dictionary
5. Sets

# list : Collection of homogenous or heterogenous elements..You can put anything of any type. Just like a bucket

In [5]:
lst=[1,2,"Rohit","Rohit Adusumilli", 5.2]
type(lst)

list

In [9]:
lst[0]

1

In [10]:
lst.append("Data Scientist") #There are many function in list like insert,delete,append

In [11]:
lst

[1, 2, 'Rohit', 'Rohit Adusumilli', 5.2, 'Data Scientist']

In [12]:
lst[2]="Amulya"
lst

[1, 2, 'Amulya', 'Rohit Adusumilli', 5.2, 'Data Scientist']

In [13]:
lst.append("Amma")

In [14]:
lst

[1, 2, 'Amulya', 'Rohit Adusumilli', 5.2, 'Data Scientist', 'Amma']

In [15]:
lst.count("Amma")

1

In [17]:
#INDEXING
str1="Rohit"
str1

'Rohit'

In [18]:
str1[3]

'i'

In [19]:
str1[3]='t'

TypeError: 'str' object does not support item assignment

# Why string is immutable ?
The string cannot be changed once it is defined  where as in case of list items can be changed.

String is immutable and List is Mutable